<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the numbers api !</h1>
    <h2>These are the following ednpoints:</h2>
    <h3>post on "/number" where number is of type number and not bigger than 999999</h3>
    <h3>get on "/getall" where you get all numbers id:s</h3>
    <h3>get on "/getbyid/id" where id is of type number</h3>
    <h3>put on "/id/number" where id and number is of type number</h3>
    <h3>delete on "/id" where id is of type number</h3>
</body>
</html>